/* header de todos los html*/
header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 13vh;
  margin-bottom: 30px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 500;
  /*logo*/
  /*nav*/ }
  header .header__logo {
    width: 50px;
    margin: 7px; }
  header #botonMenu {
    background-color: #000000; }
  header ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; }
    header ul li {
      background-color: #000000;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      margin-right: 5px;
      width: 150px;
      font-size: small; }
      header ul li a {
        font-family: "Bebas Neue", cursive;
        color: #0c98f0;
        font-size: 15px;
        text-decoration: none;
        padding: 5px;
        transition: initial; }
      header ul li a:hover {
        color: #e6df14;
        text-decoration: underline #e6df14 2px; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: auto;
  padding-bottom: 0%;
  margin-bottom: 0%; }

.copy {
  color: #0c98f0;
  text-align: center;
  padding-top: 2rem;
  font-family: "Bebas Neue", cursive; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/fondobody.jpg_large);
  background-repeat: repeat;
  background-position: center;
  background-color: #040404; }

/* H1 y H2 */
h1 {
  font-family: "Bebas Neue", cursive;
  color: #0c98f0;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding-bottom: 250px;
  padding-top: 80px;
  font-size: 80px;
  letter-spacing: 4px; }

h2 {
  font-family: "Bebas Neue", cursive;
  color: #0c98f0;
  text-align: center;
  font-size: 60px;
  letter-spacing: 4px;
  padding: 40px;
  margin: 50px; }

/*Titulos*/
.img {
  width: 800px;
  height: 500px; }

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
  padding: 20px; }
  section span {
    margin-top: 40px; }
    section span div {
      width: 600px;
      padding: 30px;
      text-align: center;
      font-family: "Bebas Neue", cursive;
      font-size: 20px;
      color: #ffffff;
      background-color: #24212163; }

/*Contacto*/
.mainContacto {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 49vw; }
  .mainContacto .textocontacto {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    width: 457px;
    font-family: "Bebas Neue", cursive;
    color: #ffffff; }
  .mainContacto .formulario {
    font-family: "Bebas Neue", cursive;
    padding-right: 30px;
    padding-top: 40px;
    margin: 50px;
    width: 450px;
    height: 400px;
    color: #0c98f0;
    float: right; }
  .mainContacto .casillas {
    background-color: #24212163;
    color: #0c98f0; }

/*jugadores destacados*/
.container {
  padding-top: 100px; }
  .container #jugadores-destacados {
    border: #0c98f0 ridge 4px; }
  .container #jugadores-destacados:hover {
    transform: scale(1.3, 1.3);
    transition: 0.7s;
    z-index: 500; }

/*Canciones de cancha*/
.maincancion {
  display: flex;
  flex-wrap: wrap; }
  .maincancion .cancioncancha div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .maincancion .cancioncancha .video {
    padding: 50px;
    margin: 30px;
    align-items: center; }
  .maincancion .cancioncancha .cancion {
    width: auto;
    padding: 30px;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 19px;
    color: #ffffff;
    background-color: #24212163; }

/*Responsive celular*/
@media (max-width: 460px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 50%; }
    section span div {
      width: 150px; }
  .img {
    width: 150px;
    height: 80px; }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contacto .textocontacto {
      font-size: 15px; }
    .contacto .formulario {
      width: 450px;
      height: 400px;
      padding-bottom: 100px;
      margin-bottom: 50px; } }

/*Responsive tablet*/
@media (max-width: 768px) {
  body {
    overflow-x: visible;
    width: 80vw; }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 50%; }
    section span div {
      width: 350px; }
    section .img {
      width: 400px;
      height: 300px; }
  .mainContacto {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .ftder {
    order: -1; } }
