@import "header";
@import "footer";

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/fondobody.jpg_large);
  background-repeat: repeat;
  background-position: center;
  background-color: #040404;
}

/* H1 y H2 */
h1 {
  font-family: "Bebas Neue", cursive;
  color: #0c98f0;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding-bottom: 250px;
  padding-top: 80px;
  font-size: 80px;
  letter-spacing: 4px;
}

h2 {
  font-family: "Bebas Neue", cursive;
  color: #0c98f0;
  text-align: center;
  font-size: 60px;
  letter-spacing: 4px;
  padding: 40px;
  margin: 50px;
}
/*Inicio*/

/*Titulos*/
.img {
  width: 800px;
  height: 500px;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
  padding: 20px;
  span {
    margin-top: 40px;
    div {
      width: 600px;
      padding: 30px;
      text-align: center;
      font-family: "Bebas Neue", cursive;
      font-size: 20px;
      color: #ffffff;
      background-color: #24212163;
    }
  }
}
/*Contacto*/
.mainContacto {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 49vw;

  .textocontacto {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    width: 457px;
    font-family: "Bebas Neue", cursive;
    color: #ffffff;
  }
  .formulario {
    font-family: "Bebas Neue", cursive;
    padding-right: 30px;
    padding-top: 40px;
    margin: 50px;
    width: 450px;
    height: 400px;
    color: #0c98f0;
  }
  .casillas {
    background-color: #24212163;
    color: #0c98f0;
  }
}

/*jugadores destacados*/
.container {
  padding-top: 100px;
  #jugadores-destacados {
    border: #0c98f0 ridge 4px;
  }
  #jugadores-destacados:hover {
    transform: scale(1.2, 1.2);
    transition: 0.4s;
    z-index: 500;
  }
}
/*Canciones de cancha*/
.maincancion {
  display: flex;
  flex-wrap: wrap;
  .cancioncancha {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    .video {
      padding: 50px;
      margin: 30px;
      align-items: center;
    }
    .cancion {
      width: auto;
      padding: 30px;
      text-align: center;
      font-family: "Bebas Neue", cursive;
      font-size: 19px;
      color: #ffffff;
      background-color: #24212163;
    }
  }
}
/*Responsive tablet*/
@media (max-width: 768px) {
  body {
    overflow-x: visible;
    width: 80vw;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  section {
    @include flexcolumn();
    margin: auto;
    padding: auto;
    width: 50%;
    margin-left: 40px;
    padding-left: 40px;

    .img {
      width: 400px;
      height: 300px;
    }
  }
  .video {
    width: auto;
  }
  .mainContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .contacto {
      .formulario {
        width: auto;
        height: auto;
      }
    }
  }
  .ftder {
    order: -1;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250%;
  }
}

/*Responsive celular*/
@media (max-width: 460px) {
  section {
    @include flexcolumn();
    margin: auto;
    padding: auto;
    width: 50%;
    span {
      div {
        width: 380px;
      }
    }
  }
  .img {
    width: auto;
    height: 80px;
  }
  .contacto {
    .textocontacto {
      font-size: 15px;
      padding-left: 30px;
      width: 300px;
    }
  }
}
